mixin Accordion({ className = '', id, parentId, title, mainId = '', dark, showDate, noPadding, sortable })
  .Accordion(class=`${className}` id=`${mainId}`)
    - const randomParentId = `${parentId}_${Math.floor(Math.random() * 100000)}`

    .Accordion-parent(id=`${randomParentId}`)
      +Card({ title, accordionId: id, accordionParentId: randomParentId, dark, showDate, noPadding, sortable })
        block
    
    