mixin Card({ className = '', style, id = '', block, title, size = 'middle', noPadding, dark, orange, fullHeight, iconHeader, accordionId, accordionParentId, showDate, sortable, editable })
  .Card.card(id=`${id}` class=`card-${size} ${dark ? 'dark' : ''} ${orange ? 'orange' : ''} ${className} ${fullHeight ? 'full-height' : ''}` style=style || false) 
    if (title)
      .card-header.d-flex.align-items-center.justify-content-between
        h3.card-header-title.d-flex.align-items-center
          if (iconHeader)
            i(class=`${iconHeader}`)

          = title

        if (sortable)
          .Card-sortable-arrow.ml-auto.mr-3.js-arrange-up
            <i class="tio-chevron-up"></i>
          .Card-sortable-arrow.mr-3.js-arrange-down
            <i class="tio-chevron-down"></i>
          .Card-sortable-arrow.js-arrange-remove
            <i class="tio-clear"></i>

        if (showDate)
          button.js-daterangepicker-predefined.ml-auto.mr-2.btn.btn-ghost.Card-suffix-text.p-0
            i.tio-date-range.mr-2
            span.js-daterangepicker-predefined-preview

          //- .Card-suffix-text.ml-auto.mr-2
          //-   i.tio-date-range.mr-1
          //-   |T3 - 30/06/2021

        if (accordionId)
          .Card-collapse-arrow(role="button" data-toggle="collapse" data-target=`#${accordionId}` aria-expanded="true" aria-controls=`${accordionId}` class=`${showDate ? '' : 'ml-auto'}`)
            <i class="tio-chevron-down"></i>

        if (editable)
          +Button({ className: 'Card-editable-btn ml-auto', title: 'Thêm Field mặc định', variant: 'btn-white' })
          +Button({ className: 'Card-editable-btn ml-3', title: 'Thêm Field tùy chỉnh', variant: 'btn-white' })

    if (accordionParentId)
      .collapse.show(id=`${accordionId}` data-parent=`#${accordionParentId}`)
        .card-body(class=`${noPadding ? 'p-0' : ''}`)
          block

    else
      .card-body(class=`${noPadding ? 'p-0' : ''}`)
        block

    